# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite3
*.db